@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    background-color: rgb(245, 250, 255);
    color: #1d282c;
    box-sizing: border-box;
}

a:link {
    color: rgb(26, 66, 103);
    text-decoration: none;
    margin-bottom: 5px;
}

a:visited {
    color: rgb(26, 66, 103);
}

a:hover {
    color: rgb(172, 197, 221);
}

body {
    font-family: "Epilogue", sans-serif;
    font-style: normal;
    font-size: 16px;
}

.thai {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    margin-left: 10%;
}

div {
    margin-left: 5%;
    margin-right: 5%;
}

.facebook-icon {
    color: #3b5998;
    /* Facebook blue */
    font-size: 25px;
}

.instagram-icon {
    font-size: 25px;
    background: linear-gradient(#962fbf, #d62976, #fa7e1e, #feda75);
    -webkit-background-clip: text;
    color: transparent;
}

li {
    margin-bottom: 5px;
}

iframe {
    width: 560px;
    height: 315px;
}

.content {
    margin: 5%;
}

.topic {
    font-weight: 800;
    font-size: 20px;
    margin: 1%;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
}

.bold {
    font-weight: 800;
}

.top-space {
    margin-top: 5%;
}

.blue-text {
    color: rgb(94, 123, 150);
}

.size_25 {
    font-size: 25px;
}

.size_30 {
    font-size: 30px;
}

.center {
    text-align: center;
}

.left-text {
    text-align: left;
    margin-left: 5%;
}

img {
    width: 25%;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.411);
    height: auto;
    display: block;
}

.project {
    border-radius: 0px;
    box-shadow: 0 0 0;
    width: 25%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.411);
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
    margin-left: 0%;
}

.art2D {
    width: 90%;
    background-color: #cc7fff;
    border-radius: 20px;
}

.art3D {
    width: 70%;
    background-color: #ffbfe2;
    border-radius: 20px;
}

.html {
    width: 55%;
    background-color: #ffb121;
    border-radius: 20px;
}

.figma {
    width: 65%;
    background-color: #ff7920;
    border-radius: 20px;
}

.c-sharp {
    width: 65%;
    background-color: #f44336;
    border-radius: 20px;
}

.photoshop {
    width: 85%;
    background-color: #865c4d;
    border-radius: 20px;
}

.illustrator {
    width: 75%;
    background-color: #808080;
    border-radius: 20px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    color: #28293e;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 15px;
}

.header a.title {
    font-size: 25px;
    font-weight: bolder;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
}

/* Style the active/current link*/
.header a.active {
    background-color: rgb(94, 123, 150);
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

@media only screen and (max-width: 768px) {
    img {
        width: 50%;
    }

    .project {
        border-radius: 0px;
        box-shadow: 0 0 0;
        width: 40%;
    }

    iframe {
        width: 350px;
        height: 195px;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 54px;
    }

    iframe {
        width: auto;
        height: auto;
    }

    .project {
        border-radius: 0px;
        box-shadow: 0 0 0;
        width: 50%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .size_25 {
        font-size: 20px;
    }

    div {
        margin-left: 0;
        margin-right: 0;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header a {
        display: block;
        width: 80%;
        text-align: center;
    }

    .header a.title {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header-right {
        float: none;
        width: 100%;
    }

    img {
        width: 65%;
    }
}