@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    background-color: rgb(231, 212, 171);
    color: rgb(95, 39, 13);
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

legend {
    font-size: 30px;
    font-weight: 700;
}

input {
    border-radius: 5px;
}

button {
    border-color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(95, 39, 13);
    color: rgb(231, 212, 171);
    border: 2px solid rgb(53, 21, 6);
    box-shadow: 0px 0px 15px rgb(173, 116, 91);
}

#container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

fieldset {
    border-radius: 10px;
    border-color: rgb(66, 30, 14);
}

#layer {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid rgb(95, 39, 13);
    background-color: white;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgb(0, 0, 0);
}

.maroon {
    background-color: maroon;
}

.lightgreen {
    background-color: lightgreen;
}

.magenta {
    background-color: magenta;
}